/*Home Page */

.navigationPane{
	font-size: 20px !important;
	font-weight: bolder;
}

.brandName{
	font-size: 28px !important;
	font-weight: bolder;
}

.carousel-class{
	width:900px !important;
}

.scroll-down{
	display: block;
	padding-top: 4%;
	position: relative;
	width: 6%;
	margin: 0 auto;
	font-size: 75px;
}